/* Container holding the image and the text */
.Top-Content {
  position: relative;
  text-align: center;
  color: white;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  color: black;
  margin-bottom: 1px;
}

h1, h2 {  color: darkgreen;  font-family: 'Georgia', serif;   font-weight: 600;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
  max-width: 950px;
  margin: auto;
  padding: 15px;
  overflow: hidden;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

img {
  width: 100%;
  height: 300px;
  opacity: 65%;
 }

p {
  line-height: 20px;
}

p, li {  margin-bottom: 30px;  font-size: 14px;
}

li {
  line-height: 15px;

}

ul {
  list-style: circle inside;
}

a:link {
  color: darkblue;
}
a:visited {
  color: purple;
}

a:focus {
  font-style: italic;
}

a:hover {
  color: lightblue;
  text-decoration: none;
}

a:active {
    background-color: yellow;
}

a {font-weight: bold;
}

.line {
  border-bottom: 2px solid hsl(82, 17%, 65%);
  display: block;
  margin-left: 15px;
  margin-right: 30px;
}

div {
  border: 10px solid white;
  padding-left: 5px;
}

.content-wrap {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  overflow: hidden;
  font-family: 'Verdana', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}
